<div class="container text-center">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Caesar Cypher</h1>
      <br>
      <form action="<%= decrypt_path %>" method="get">
        <div class="form-group text-center">
          <textarea class="form-control" placeholder="Enter encoded text" name="encoded" rows="6"></textarea>
        </div>
        <div class="text-right">
          <input type="submit" value="Decode" class="btn btn-primary btn-lg">
        </div>
      </form>
    </div>
  </div>
</div>
